.food {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

}

.food h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
  display: flex;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #fb923c;
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .food h3 {
    font-size: 1rem;
  }

  .price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #fb923c;
  font-size: 0.75rem;
  }

  .description{
    display: none;
  }
}

.button {
  text-align: right;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #fb923c;
  border: 1px solid #c9742f;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #c46c24;
  border-color: #c9742f;
}
